<div class="container">
  <div *ngIf="artistDto">
    <p>
      <strong>Id: </strong>
      <span>{{artistDto.id}}</span>
    </p>
    <p>
      <strong>First name: </strong>
      <span>{{artistDto.firstName}}</span>
    </p>
    <p>
      <strong>Last name: </strong>
      <span>{{artistDto.lastName}}</span>
    </p>
    <p>
      <strong>Stage name: </strong>
      <span>{{artistDto.stageName}}</span>
    </p>
    <p>
      <strong>Birthday: </strong>
      <span>{{artistDto.birthday}}</span>
    </p>
    <p>
      <strong>Activity start date: </strong>
      <span>{{artistDto.activityStartDate}}</span>
    </p>
    <p>
      <strong>Activity end date: </strong>
      <span>{{artistDto.activityEndDate}}</span>
    </p>

    <br>
    <button class="button is-link is-light" [routerLink]="['/admin-page/artists']">Back</button>
  </div>
</div>
