<div class="container">
  <form [formGroup]="form" (ngSubmit)="onPost()">
    <div class="field">
      <label class="label">Playlist</label>
      <div class="control">
        <div class="select">
          <select formControlName="playlistId">
            <option value="" disabled selected>Select playlist</option>
            <option *ngFor="let item of ownedPlaylists" [ngValue]="item.id">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-primary" [disabled]="form.invalid">Add</button>
        <button type="button" class="button is-link is-light" [routerLink]="['/dashboard']">Back</button>
      </div>
    </div>
    <div class="help is-dark" *ngIf="status">
      {{status.message}}
    </div>
  </form>
</div>
