<div class="container">
  <div *ngIf="userViewDto">
    <p>
      <strong>Id:</strong>
      <span>{{userViewDto.id}}</span>
    </p>
    <p>
      <strong>First name:</strong>
      <span>{{userViewDto.firstName}}</span>
    </p>
    <p>
      <strong>Last name:</strong>
      <span>{{userViewDto.lastName}}</span>
    </p>
    <p>
      <strong>Email:</strong>
      <span>{{userViewDto.email}}</span>
    </p>
    <p>
      <strong>Country:</strong>
      <span>{{userViewDto.country}}</span>
    </p>
    <p>
      <strong>Role:</strong>
      <span>{{userViewDto.role}}</span>
    </p>
    <p>
      <strong>Status:</strong>
      <span>{{userViewDto.status}}</span>
    </p>

    <br>
    <button class="button is-link is-light" [routerLink]="['/admin-page/users']">Back</button>
  </div>
</div>
