<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Musify
    </p>
    <p class="subtitle">
      your personal music management app
    </p>
    <div *ngIf="isLoggedIn">
      <p class="heading">
        Welcome back, {{getUserFullName()}}!
      </p>

      <button class="button" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
      <button class="button" [routerLink]="['/user-page', getUserId()]" routerLinkActive="active">User</button>
      <button class="button" *ngIf="role == 'admin'" routerLink="/admin-page" routerLinkActive="active">Admin</button>
      <button class="button" (click)="logout()" style="cursor: pointer">Logout</button>
    </div>
  </div>
</section>

<router-outlet (activate)="checkLoggedInUser()">
  <!-- site content goes here-->
</router-outlet>
