<div class="container">
  <label class="label">My admin options</label>
  <button class="button" routerLink="/admin-page/users" routerLinkActive="active">Users</button>
  <button class="button" routerLink="/admin-page/artists" routerLinkActive="active">Artists</button>
  <button class="button" routerLink="/dashboard" routerLinkActive="active">Bands</button>
  <button class="button" routerLink="/dashboard" routerLinkActive="active">Albums</button>
  <button class="button" routerLink="/dashboard" routerLinkActive="active">Songs</button>
  <br><br>
  <label class="label">Artists</label>
  <button class="button is-primary" [routerLink]="['/admin-page/artists/add']">Create</button>
  <div class="table-container">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Stage Name</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let artist of artists; let i = index">
        <td>{{i + 1}}</td>
        <td>{{artist.stageName}}</td>
        <td>
          <div class="columns">
            <div class="column">
              <a [routerLink]="['/admin-page/artists/details', artist.id]">
              <span class="icon">
                <i class="fa-solid fa-circle-info"></i>
              </span>
              </a>
            </div>

            <div class="column">
              <a [routerLink]="['/admin-page/artists/edit', artist.id]">
              <span class="icon">
                <i class="fa-solid fa-square-pen"></i>
              </span>
              </a>
            </div>

            <div class="column">
              <a (click)="startDelete(artist.id)">
              <span class="icon">
                <i class="fa-solid fa-trash-can"></i>
              </span>
              </a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="modal-delete-artist" class="modal" [ngClass]="{'is-active': selectedArtistId}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirm delete</p>
      </header>

      <div class="modal-card-body">
        <p>Are you sure you want to delete this artist?</p>
      </div>

      <div class="modal-card-foot">
        <button class="button is-danger" (click)="confirmDelete()">Delete</button>
        <button class="button is-light" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
</div>
