<div class="container">
  <div *ngIf="album">
    <p>
      <strong>Id: </strong>
      <span>{{album.id}}</span>
    </p>
    <p>
      <strong>Artist: </strong>
      <span>{{album.artist}}</span>
    </p>
    <p>
      <strong>Title: </strong>
      <span>{{album.title}}</span>
    </p>
    <p>
      <strong>Genre: </strong>
      <span>{{album.genre}}</span>
    </p>
    <p>
      <strong>Description: </strong>
      <span>{{album.description}}</span>
    </p>
    <p>
      <strong>Label: </strong>
      <span>{{album.label}}</span>
    </p>
    <p>
      <strong>Release date: </strong>
      <span>{{album.releaseDate}}</span>
    </p>

    <br>
    <div class="table-container">
      <label class="label">Songs</label>
      <table class="table" aria-describedby="Songs">
        <thead>
        <tr>
          <th>#</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of album.songs; let i = index">
          <td>{{i + 1}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.title}}</td>
          <td>{{song.duration}}</td>
          <td>
            <div class="columns">
              <div class="column">
                <a (click)="startRemove(song.id)">
              <span class="icon">
                <i class="fa-solid fa-trash-can" title="remove"></i>
              </span>
                </a>
              </div>
              <div *ngIf="canMoveDown(i)" class="column">
                <a (click)="moveDown(i, song.id)">
              <span class="icon">
                <i class="fa-solid fa-arrow-down" title="move down"></i>
              </span>
                </a>
              </div>
              <div *ngIf="canMoveUp(i)" class="column">
                <a (click)="moveUp(i, song.id)">
              <span class="icon">
                <i class="fa-solid fa-arrow-up" title="move up"></i>
              </span>
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <br>
      <button class="button is-link is-light" [routerLink]="['/admin-page/albums']">Back</button>
    </div>
  </div>

  <div id="modal-delete-song-from-album" class="modal" [ngClass]="{'is-active': selectedSongIdForRemove}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirm remove</p>
      </header>

      <div class="modal-card-body">
        <p>Are you sure you want to remove this song from the album?</p>
      </div>

      <div class="modal-card-foot">
        <button class="button is-danger" (click)="confirmRemove()">Remove</button>
        <button class="button is-light" (click)="cancelRemove()">Cancel</button>
      </div>
    </div>
  </div>
</div>
