<div class="container">
  <div *ngIf="playlist">
    <p>
      <strong>Id: </strong>
      <span>{{playlist.id}}</span>
    </p>
    <p>
      <strong>Name: </strong>
      <span>{{playlist.name}}</span>
    </p>
    <p>
      <strong>Type: </strong>
      <span>{{playlist.type}}</span>
    </p>
    <p>
      <strong>Date created: </strong>
      <span>{{playlist.createdDate}}</span>
    </p>
    <p>
      <strong>Date updated: </strong>
      <span>{{playlist.updatedDate}}</span>
    </p>
    <p>
      <strong>Owner user: </strong>
      <span>{{playlist.ownerUserName}}</span>
    </p>

    <br>
    <div class="table-container">
      <label class="label">Songs</label>
      <table class="table" aria-describedby="Songs">
        <thead>
        <tr>
          <th>#</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of playlist.songs; let i = index">
          <td>{{i + 1}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.title}}</td>
          <td>{{song.duration}}</td>
          <td>
            <div class="columns">
              <div class="column">
                <a (click)="startRemove(song.id)">
              <span class="icon">
                <i class="fa-solid fa-trash-can"></i>
              </span>
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <br>
    <button class="button is-link is-light" [routerLink]="['/dashboard']">Back</button>
  </div>

  <div id="modal-delete-song-from-playlist" class="modal" [ngClass]="{'is-active': selectedSongIdForRemove}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirm remove</p>
      </header>

      <div class="modal-card-body">
        <p>Are you sure you want to remove this song from the playlist?</p>
      </div>

      <div class="modal-card-foot">
        <button class="button is-danger" (click)="confirmRemove()">Remove</button>
        <button class="button is-light" (click)="cancelRemove()">Cancel</button>
      </div>
    </div>
  </div>
</div>
